shap==0.35.0
matplotlib==3.2.1
notebook==6.0.3
numpy==1.18.4
pandas==1.0.3
xgbfir==0.3.1
xgboost==1.0.2
xlrd==1.2.0
XlsxWriter==1.2.8
yellowbrick==1.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1

